<?php
/**
 * Copyright © HyphenScript, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Hyphen\Barcode\Block\BarcodeForm $block */
$barcodeInfo = $block->getBarcodeInitData();
?>

<div class="field barcode required">
            <label class="search-title"><?php echo __('Scan Barcode'); ?></label>
             <input type="text" class="search-input" id="os_barcode_scan" autocomplete="off">
        </div>

<form class="form  barcode"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="barcode-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
      
    	 
    	 
        <div class="field product_name required">
            <label class="label" for="product_name"><span><?= $block->escapeHtml(__('Product Name')) ?></span></label>
            <div class="control">
                <input name="product_name" id="product_name" title="<?= $block->escapeHtmlAttr(__('Product Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('product_name') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field sku required">
            <label class="label" for="sku"><span><?= $block->escapeHtml(__('Sku')) ?></span></label>
            <div class="control">
                <input name="sku" id="sku" title="<?= $block->escapeHtmlAttr(__('Sku')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('sku') ?: '') ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
         <div class="field product_barcode required">
            <label class="label" for="product_barcode"><span><?= $block->escapeHtml(__('Barcode')) ?></span></label>
            <div class="control">
                <input name="barcode " id="barcode " title="<?= $block->escapeHtmlAttr(__('Sku')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('product_barcode') ?: '') ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field stock_source">
            <label class="label" for="stock_source"><span><?= $block->escapeHtml(__('Stock Source')) ?></span></label>
            <div class="control">
                <input name="stock_source" id="stock_source" title="<?= $block->escapeHtmlAttr(__('Stock Source')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('stock_source')) ?>" class="input-text" type="text" />
            </div>
        </div>

        <div class="field total_salable_stock">
            <label class="label" for="total_salable_stock"><span><?= $block->escapeHtml(__('Total Salable Stock')) ?></span></label>
            <div class="control">
                <input name="total_salable_stock" id="total_salable_stock" title="<?= $block->escapeHtmlAttr(__('Total Salable Stock')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('total_salable_stock')) ?>" class="input-text" disabled="true" type="text" />
            </div>
        </div>

         <div class="field delivery_code">
            <label class="label" for="delivery_code"><span><?= $block->escapeHtml(__('Delivery Code')) ?></span></label>
            <div class="control">
                <input name="delivery_code" id="delivery_code" title="<?= $block->escapeHtmlAttr(__('Delivery Code')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('delivery_code')) ?>" class="input-text" disabled="true" type="text" />
            </div>
        </div>

        <div class="field levertijd">
            <label class="label" for="levertijd"><span><?= $block->escapeHtml(__('Levertijd')) ?></span></label>
            <div class="control">
                <input name="levertijd" id="levertijd" title="<?= $block->escapeHtmlAttr(__('Levertijd')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('levertijd')) ?>" class="input-text"  type="text" />
            </div>
        </div>

        <div class="field location">
            <label class="label" for="location"><span><?= $block->escapeHtml(__('Location')) ?></span></label>
            <div class="control">
                <input name="location" id="location" title="<?= $block->escapeHtmlAttr(__('Location')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('location')) ?>" class="input-text"  type="text" />
            </div>
        </div>

        <div class="field status">
            <label class="label" for="status"><span><?= $block->escapeHtml(__('Status')) ?></span></label>
            <div class="control">
                <select name="status" id="status">
                    <option value="1"><?= $block->escapeHtml(__('Enable')) ?></option>
                    <option value="0"><?= $block->escapeHtml(__('Disable')) ?></option>
                </select>
               
            </div>
        </div>

        <div class="field cost_price">
            <label class="label" for="cost_price"><span><?= $block->escapeHtml(__('Cost Price')) ?></span></label>
            <div class="control">
                <input name="cost_price" id="cost_price" title="<?= $block->escapeHtmlAttr(__('Cost Price')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('cost_price')) ?>" class="input-text"  type="text" />
            </div>
        </div>


        <div class="field price">
            <label class="label" for="price"><span><?= $block->escapeHtml(__('Price')) ?></span></label>
            <div class="control">
                <input name="price" id="price" title="<?= $block->escapeHtmlAttr(__('Price')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('price')) ?>" class="input-text"  type="text" />
            </div>
        </div>
       
       
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Submit')) ?></span>
            </button>
        </div>
    </div>
</form>



<style>
.column:not(.sidebar-main) .form.barcode {
	width: 27%;
}
</style>

<script type="text/x-magento-init">
    {
        "#barcode-form": <?php echo $barcodeInfo; ?>
    }
 
</script>
<script type="text/javascript">
 require(["jquery",'mage/url','Magento_Ui/js/modal/alert'], function($,url,Alert) {
    $(document).ready(function(){
        $('#barcode-form').hide();
       var  scanInput = $('#os_barcode_scan');
       var scanUrl = url.build('barcode/index/post');
       scanInput.change(function(event){
            var barcode = event.target.value;
alert("barcode=="+barcode);
alert("scanUrl=="+scanUrl);
           var barcode = barcode.trim();
            var params = {
                barcode:barcode
            }; 
            $.ajax({
                url: scanUrl,
                data:params,
                success: function(response){

                    if(response.success && response.data)
                    { console.log(response.data);

                    }
                   if(response.error && response.messages){
                        Alert('Error',response.messages);
                    } 
                   

                    Alert('Error','this is test message');
                    $('#barcode-form').show();
                  //  fullScreenLoader.stopLoader();
                   // self.processResponse(result);
                },
                error: function(error){
                     $('#barcode-form').show();
                  //  fullScreenLoader.stopLoader();
                }
            });         
        });
    });

 });

</script>    